* {
    margin: 0;
    padding: 0;
}
  html,
  body {  
    height: 100%;
}

.wrapper {
    min-width:1100px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
    height: 77px;
    background-color: #4b73b5;
}

.header__container {
    width: 1100px;
    margin: 0 auto;
}

.header__container-logo {
    float: left;
    max-width: 130px;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 18px;
}


.header__container-contacts {  
    float: right;
    margin-right: 20px; 
    margin-top: 20px;
}

.header__container-contacts__phone {
    width: 173px;
    height: 22px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__container-contacts-button {
    margin-left: 70px;
}

button {
    background-color: #4b73b5;
    border-style: none;
}

.container {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 1100px;
}

.title {
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
}
.title-tariffs {
    margin-left: 50px;
}



.sidebar {
    flex: 1 0 auto;
    display: inline-block;
    float: left;
    width: 130px;
    margin-left: 18px;
    margin-top: 48px;
    color: #221f1f;
    font-family: Roboto;
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;
}

.menu__list {
    list-style-type: none;
}
.menu__item {
    margin-bottom: 30px;
}

.menu__link {
    padding-bottom: 0px;
    color: #4b73b5;
    font-family: Roboto;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    list-style-type: none;
    text-decoration: none;

}

.menu__link:hover{
    color:#221f1f;
}

.menu__link:before {
    content: "";
    padding-right: 5%;
    display: inline-block;
    vertical-align: sub;
    width: 24px;
    height: 18px;
    background: center center no-repeat;
}

.menu__link--plane:before {
    background-image: url('./../img/main_icon.png')
}

.menu__link--feedback:before {
    background-image: url('./../img/feed_icon.png')
}


.menu__link--crew:before {
    background-image: url('./../img/team_icon.png')
}

.menu__item--active .menu__link--plane {
    color:#221f1f;
}

.menu__item--active .menu__link--feedback {
    color:#221f1f;
}

.menu__item--active .menu__link--crew {
    color:#221f1f;
}

.main__content {
    /*width: 85%;*/
    margin-top: 14px;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
}

.section-img__main {
    margin-left: 50px;
    width: 900px;
    height: 300px;
}

.img {
    margin-top: 55px;
    margin-bottom: 20px;
    height: 75px;
}

.img__standart {
    margin: 0 auto;
    height: 68px;
    width: 68px;
    background-image: url('../img/2-layers.png')
}

.img__premium {
    margin: 0 auto;
    height: 72px;
    width: 72px;
    background-image: url('../img/2-layers2.png')
}

.img__luxury {
    margin: 0 auto;
    height: 66px;
    width: 66px;
    background-image: url('../img/2-layers3.png')
}

.tariffs__offers__img-pic {
    display:block; 
    margin:15px auto 25px;
}
.tariffs {
    margin-left: 50px;
    display: flex;
    flex-flow: row wrap;
}

.tariffs__offers {
    width: 250px;
    float: left;
    margin-left: 12px;
    margin-top: 40px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}


.tariffs__offers__information {
    float: left;
    text-align: center;
    color: #221f1f;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.tariffs__offers__information-name {
    font-size: 14px;
    letter-spacing: 2.88px;
}

.tariffs__offers__price {
    display: inline;
}

.tariffs__offers__price-currency {
    float: left;
    text-align: right;
    color: #202020;
    font-family: Roboto-light;
    font-size: 30px;
    width: 100px;
    height: 30px;
    line-height: 175px;
}

.tariffs__offers__price-number {
    float: left;
    color: #202020;
    font-family: Roboto-light;
    font-size: 55px;
    width: 120px;
    letter-spacing: -1.07px;
    line-height: 173.58px;
}

.tariffs__offers__information-tagline {
    font-family: Roboto-light;
}

.tariffs__offers__information-description__content {
    margin-left: 40px;
    text-align: left;
    font-family: Roboto-light;
}

.feeds {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    margin-left: 50px;
}

.feeds__news {
    margin-bottom: 20px;
}

.feeds__news__item {
    float: left;
    width: 900px;
    margin-top: 48px;
    list-style-type: none;
    border-bottom: 1px solid #f5f5f5;
}

.feeds__news__item--active {
    border-bottom: none;
}

.feeds__news__item__description {
    width: 700px;
    display: inline-block;
    padding-left: 20px;
}

.feeds__news__item__avatar {
    float: left;
}

.feeds__news__item__time {
    color: #656464;
    font-family: "Roboto-light";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.feeds__news__item__headline {
    margin-top: 4px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 21px;
}

.feeds__news__item__content {
    margin-top: 10px;
    font-family: "Roboto-Light";
    font-weight: 300;
    line-height: 25px;
    font-size: 18px;
}

.pagination {
    float: left;
    margin-top: 30px;
    margin-left: 200px;
    text-align: center;
}


.pagination__display { 
    float: left;
    color: #656464;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.pagination__controlls {
    position: relative;
    float: left;
}

.pagination__controlls__list {
    position: relative;
    float: left;
}

.pagination__controlls__list__item {
    float: left;
    margin-left: 20px;
    list-style-type: none;
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.pagination__controlls__list__link {
    color: #4b73b5;
    font-family: Roboto;
    text-decoration: none;
}

.pagination__controlls__list__link:hover {
    color: #221f1f;
    border-radius: 5px;
 /*   border: 6px solid #4b73b5;
    background-color: #4b73b5;*/
}

.pagination__controlls__list__link--active {
    color: #221f1f;
    border-radius: 5px;
    border: 6px solid #4b73b5;
    background-color: #4b73b5;
}

.pagination__controlls__item__prev {
    float: left;
    margin-left: 20px;
    text-decoration: none;
    list-style-type: none;
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.pagination__controlls__item__prev--active {
    color: #bdbcbc;
}


.pagination__controlls__item__next {
    float: left;
    margin-left: 20px;
    text-decoration: none;
    list-style-type: none;
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}


.footer {
    flex: 0 0 auto;
    height: 80px;
    width: 100%;
    margin-top: 40px;
    background-color: #4b73b5;
}

.footer__container {
    width: 1100px;
    margin: 0 auto;
}

.footer__container-social {
    float: right;
    width: 160px;
    margin-top: 20px;
    margin-right: 20px;
    color: #ffffff;
}

.footer__container-social__head {
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    float: left;
}

.footer__container-social__head__list {
    float: left;
    list-style-type: none;
}

.footer__container-social__head__list__item {
    float: left;
    margin-right: 9px;
}

.logo {
    float: left;
    margin-top: 25px;
    margin-left: 270px;
}

.footer__container-info {
    float: left;
    width: 236px;
    margin-top: 15px;
    margin-left: 18px;
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.footer__container-info-link {
    font-family: Roboto-light;
    font-weight: 700;
    text-decoration: underline;
    color: #e8e9ed;
}
.footer__container-info-autor {
    font-family: Roboto-light;
    font-weight: 700;
    text-decoration: none;
    color: #e8e9ed;
}

