* {
    margin: 0;
    padding: 0;
}
  html,
  body {  
    height: 100%;
}

.wrapper {
    min-width:1100px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #4b73b5;
}

.header__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.header__container-logo {
    float: left;
    max-width: 130px;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 18px;
}


.header__container-contacts {  
    margin-right: 20px; 
    margin-top: 20px;
}

.header__container-contacts__phone {
    margin-left: 30px;
    width: 173px;
    height: 22px;
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-line: none;
}

.header__container-contacts__block {
    margin: 0;
    height: 70px;
    position: relative;
}
.header__container-contacts-button {
    float: right;
    background-color: #4b73b5;
    border-style: none;
}
.header__container-contacts-button-content {
    width: 103px;
    height: 14px;
    opacity: 0.7;
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-decoration: underline;
}
.header__container-contacts-button-graphics {
    position: absolute;
    margin-left: -9999px;
    width: 121px;
    height: 30px;
    /*border: 3px solid #202020 ;*/
    margin-top: 30px;
    float: right;
    background-color: #ffffff;
    text-align: center;
    color: #4b73b5;
    font-family: Roboto-light;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding: 15px;
}
/*.header__container-contacts-button-graphics::before {
    content: "";
    width: 0;
    height: 0;
    border: 15px solid  transparent;
    border-bottom-color: #202020;
    margin-top: -33px;
    float: right;
}*/
.header__container-contacts-button-graphics::after {
    content: "";
    width: 0;
    height: 0;
    border: 15px solid  transparent;
    border-bottom-color: #ffffff;
    margin-top: -65px;
    margin-right: -15px;
    float: right;
}
.header__container-contacts-button-dinner {
    color: #221f1f;
}
.header__container-contacts__block:hover .header__container-contacts-button-graphics {
    margin-left: 45px;
}
.container {
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-flow: row;
}
.breadcrumbs {
    color: #4b73b5;
    font-family: Roboto-Italic;
    font-size: 14px;
    font-weight: 300; 
    margin-bottom: 23px;
}
.breadcrumbs__crew--active {
    color: #221f1f;
}
.breadcrumbs__feed--active {
    color: #221f1f;
}
.breadcrumbs__link {
    text-decoration-line: none;
    border-bottom: 1px solid #afc5ea;
}
.title {
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
}
.title-tariffs {
    margin-left: 10px;
}

.sidebar {
    flex: 1 0 auto;
    width: 15%;
    margin-left: 18px;
    margin-top: 41px;
    color: #221f1f;
    font-family: Roboto;
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;
}

.menu__list {
    display: flex;
    flex-flow: column;
    list-style-type: none;
}
.menu__item {
    margin-bottom: 30px;
}

.menu__link {
    padding-bottom: 0px;
    font-family: Roboto;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    list-style-type: none;
    text-decoration: none;

}
.menu__link{
    transition: .6s;
    color: #4b73b5;
}
.menu__link:hover{
    transition: .6s;
    color:#221f1f;
}

.menu__link:before {
    content: "";
    padding-right: 5px;
    display: inline-block;
    vertical-align: sub;
    width: 24px;
    height: 18px;
    background: center center no-repeat;
    background-image: url('../img/sidebar-hover.png');
    transition: .6s;
}

.menu__item:nth-child(1) .menu__link:before {
    background-position: -32px -32px;
}
.menu__item:nth-child(2) .menu__link:before {
    background-position: -38px -5px;
}
.menu__item:nth-child(3) .menu__link:before {
    background-position: -68px -5px;
}



.menu__item:nth-child(3):hover .menu__link:before {
    transition: .6s;
    background-position: -68px -5px;
    filter: grayscale(100%);
}
.menu__item:nth-child(2):hover .menu__link:before {
    transition: .6s;
    background-position: -38px -5px;
    filter: grayscale(100%);
}
.menu__item:nth-child(1):hover .menu__link:before {
    transition: .6s;
    background-position: -32px -32px;
    filter: grayscale(100%);
}


.menu__item--active .menu__link{
    color:#221f1f;
}
.menu__item--active:nth-child(1) .menu__link:before {
    background-position: -32px -32px;
    filter: grayscale(100%);
}
.menu__item--active:nth-child(2) .menu__link:before {
    background-position: -38px -5px;
    filter: grayscale(100%);
}
.menu__item--active:nth-child(3) .menu__link:before {
    background-position: -68px -5px;
    filter: grayscale(100%);
}

.main__content {
    width: 85%;
    margin-top: 14px;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
}
.section-img__main {
    display: block;
    min-width: 100%;
}
.section-img{
    overflow: hidden;
    margin-bottom: 15px;
}
.tariffs {
    min-height: 525px;
}
.img {
    margin: 0 auto;
    width: 75px;
    height: 75px;
}
.img__background {
    position: absolute;
    margin: 0 auto;
    background-color: #4b73b5;
    border-radius: 50%;
}
.img__standart {
    position: relative;
    margin: 0 auto;
    background-image: url('../img/spritesheet_tariffs.png');
    background-repeat: no-repeat;
}
.tariffs__offers:nth-child(1) .img__background {
    margin: 0 auto;
    width: 68px;
    height: 68px;
}
.tariffs__offers:nth-child(1) .img__standart {
    margin-top: 19px;
    margin-left: 21px;
    height: 31px;
    width: 27px;
    background-position: -5px -5px;
}
.tariffs__offers:nth-child(2) .img__background {
    margin: 0 auto;
    width: 72px;
    height: 72px;
}
.tariffs__offers:nth-child(2) .img__standart {
    margin-top: 20px;
    margin-left: 21px;
    height: 32px;
    width: 32px;
    background-position: -42px -5px;
}
.tariffs__offers:nth-child(3) .img__background {
    margin: 0 auto;
    width: 66px;
    height: 66px;
}
.tariffs__offers:nth-child(3) .img__standart {
    margin-top: 20px;
    margin-left: 21px;
    height: 29px;
    width: 28px;
    background-position: -5px -47px;
}

.tariffs__offers__img-pic {
    display:block; 
    margin:15px auto 25px;
}
.tariffs__list {
    display: flex;
    flex-flow: row;
}

.tariffs__offers {
    display: flex;
    flex-flow: column;
    min-width: 250px;
    margin-left: 12px;
    margin-top: 23px;
    margin-bottom: 22px;
    padding: 20px;
    border-radius: 25px;
    transition-duration: .8s;
}
.tariffs__offers:hover {
    transition-duration: .8s;
    background-color: #e8e9ed;
    /*background-image:linear-gradient(to bottom, #e4e9f1, #e5e8f0);*/
    /*animation: gradient-color-tariffs 1.5s forwards;*/
    border-radius: 30px;
    cursor: pointer;
}

/*@keyframes gradient-color-tariffs {
    0% {
        background-color: #f5f5f5;
    }
    50% {
        background-color: #afc5ea
    }
    to {
        background-color: #e8e9ed;
    }
} */

.tariffs__offers__information {
    display: flex;
    flex-flow: column;
    float: left;
    text-align: center;
    color: #221f1f;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 5px;
}

.tariffs__offers__information-name {
    float: left;
    text-align: center;
    color: #221f1f;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: 2.88px;
}

.tariffs__offers__price {
    display: inline;
}

.tariffs__offers__price-currency {
    float: left;
    text-align: right;
    color: #202020;
    font-family: Roboto-light;
    font-size: 30px;
    width: 100px;
    height: 30px;
    line-height: 175px;
}

.tariffs__offers__price-number {
    float: left;
    color: #202020;
    font-family: Roboto-light;
    font-size: 55px;
    width: 120px;
    letter-spacing: -1.07px;
    line-height: 173.58px;
}

.tariffs__offers__information-tagline {
    font-family: Roboto-light;
}

.tariffs__offers__information-description__content {
    margin-left: 40px;
    text-align: left;
    font-family: Roboto-light;
}

.feeds {
    display: flex;
    flex-flow: column;
    margin-top: 38px;
    margin-left: 10px;
}

.feeds__news {
    margin-bottom: 55px;
}

.feeds__news__item {
    float: left;
    margin-top: 50px;
    list-style-type: none;
    border-bottom: 1px solid #f5f5f5;
}

.feeds__news__item--active {
    border-bottom: none;
}

.feeds__news__item__description {
    width: 700px;
    display: inline-block;
    padding-left: 20px;
}

.feeds__news__item__avatar {
    float: left;
}

.feeds__news__item__time {
    color: #656464;
    font-family: "Roboto-light";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.feeds__news__item__headline {
    margin-top: 4px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 21px;
}

.feeds__news__item__content {
    margin-top: 10px;
    font-family: "Roboto-Light";
    font-weight: 300;
    line-height: 25px;
    font-size: 18px;
}

.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
}


.pagination__display { 
    float: left;
    color: #656464;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.pagination__controlls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 20px;
}

.pagination__controlls__list {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination__controlls__list__item {
    float: left;
    margin-left: 5px;
    list-style-type: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    width: 20px;
    vertical-align: middle;
}
.pagination__controlls__list__item--active {
    border-radius: 10%;
    background-color: #4b73b5;
}
.pagination__controlls__list__link {
    color: #221f1f;
    font-family: Roboto;
    text-decoration: none;
}

.pagination__controlls__list__item:hover{
    border-radius: 3px;
    border-radius: 10%;
    background-color: #4b73b5;
}
.pagination__controlls__list__link:hover {
    color: #ffffff;
}


.pagination__controlls__item__prev {
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.pagination__controlls__item__prev--active {
    color: #bdbcbc;
}


.pagination__controlls__item__next {
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}


.footer {
    flex: 0 0 auto;
    height: 80px;
    min-width: 1100px;
    width: 100%;
    margin-top: 40px;
    background-color: #4b73b5;
}

.footer__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__container-social {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-width: 160px;
    margin-top: 20px;
    color: #ffffff;
}

.footer__container-social__head {
    color: #221f1f;
    font-family: Roboto-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    float: left;
}

.footer__container-social__head__list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style-type: none;
}

.footer__container-social__head__list__item {
    float: left;
    margin-right: 9px;
}

.logo {
    margin-top: 25px;
}

.footer__container-info {
    width: 236px;
    margin-top: 15px;
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.footer__container-info-link {
    font-family: Roboto-light;
    font-weight: 700;
    text-decoration: underline;
    color: #e8e9ed;
}
.footer__container-info-autor {
    font-family: Roboto-light;
    font-weight: 700;
    text-decoration: none;
    color: #e8e9ed;
}

