.page {
    flex: 1 0 auto;
    /*margin-left: 200px;*/
    margin-top: 42px;
    max-width: 83%;
}
.wrapper--feed {
    min-width:1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.feedback {
    display: flex;
    flex-flow: column wrap;
}
.feedback__list {
    margin-bottom: 20px;
}
.feedback__description {
    display: flex;
    flex-flow: row;
    margin-bottom: 15px;
}

.feedback__avatar--none {
    width: 160px;
    height: 160px;
    background-image: url('../img/none.png');
}
.faq {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 38px;
    width: 100%;
    min-width: 1100px;
    background-image: url('../img/background_faq.png');
}
.faq__info {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 670px;
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.faq-request {
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.faq-phone {
    text-decoration-line: none;
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.feedback-form {
    min-width: 1100px;
    margin-bottom: 18px;
}
.feedback-form__input {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 45px;
    width: 700px;
    min-height: 395px;
    background-color: #f5f5f5;
    font-family: Roboto-light;
}
.title-feedback {
    margin-left: 17px;
    margin-top: 30px;
    margin-bottom: 21px;
    text-align: start;
    min-width: 600px;
}
.feedback-form__input-block {
    margin-bottom: 30px;
    max-width: 555px;
}
.feedback-form__social-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 14px;
}
.feedback-form__social-block {
    max-width: 45%;
}

.feedback-form__social-input {
    width: 96%;
    height: 45px;
    margin-top: 5px;
    padding-left: 10px;
    border-style: none;
    opacity: 0.5;
    color: #221f1f;
    font-family: Roboto-light;
    font-size: 17px;
    font-weight: 300;
}

.feedback-form__comment-block {
    width: 100%;
    margin-bottom: 15px;
}
.feedback-form__input-comment {
    min-width: 96%;
    padding: 10px;
    height: 90px;
    margin-top: 5px;
    border: none;
    font-family: Roboto-light;
    font-size: 17px;
    font-weight: 300;
    opacity: 0.5;
}
.feedback-form__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.feedback-form__radio-block {
	float: left;
}

.feedback-form__label-box {

	margin-bottom: 7px;
}

.feedback-form__radio-box {
	display: inline-block;
	margin-right: 21px;

}


.feedback-form__radio {

	display: none;

}


.feedback-form__radio-text {
	font-size: 14px;
	color: #221f1f;
	vertical-align: super;
	position: absolute;
	top: 5px;
	left: 25px;
} 

 .feedback-form__radio-custom {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #cacaca;
	position: relative; 

}

.feedback-form__radio:checked + .feedback-form__radio-custom:before {
	content: "";
	display: block;

	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;

	border-radius: 50%;
	background-color: #4b73b5;

}



.feedback-form__radio:checked + .feedback-form__radio-custom {
	border: 2px solid #4b73b5;


}

.feedback-form__radio:checked + .feedback-form__radio-custom .feedback-form__radio-text {
	display: inline-block;
	color: #4b73b5;


}
.send-form-button {
    height: 45px;
    background-color: #4b73b5;
    color: #ffffff;
    font-family: Roboto-light;
    font-size: 12px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    transition: .7s;
}
.send-form-button:hover {
    transition: .7s;
    background-color: #cacaca;
    color: #4b73b5;
    cursor: pointer;
}

.send-form-button-name {
    height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
.send-form-button-name::after {
    content: "";
    padding-right: 10px;
    display: inline-block;
    vertical-align: sub;
    width: 15px;
    height: 14px;
    background: center center no-repeat;
    background-image: url('../img/plane_button.png');
}
.pagination--feed {
    margin-top: 40px;
}