.page {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    max-width: 83%;
}
.crew {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 47px;
}
.members {
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 260px;
    }
.members__description {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    text-align: center;
    margin-top: 25px;
}

.members__photo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 160px;
}

img.photo:hover {
    opacity: 0;
}
.members__photo-yurii:hover {
    background-image: url('../img/yrii-hover.png');
}
.members__photo-elena:hover {
    background-image: url('../img/elena-hover.png');
}
.members__photo-elina:hover {
    background-image: url('../img/elina-hover.png');
}
.members__photo-lesch:hover {
    background-image: url('../img/lesch-hover.png');
}
.members__photo-inna:hover {
    background-image: url('../img/inna-hoveer.png');
}
.members__photo-alex:hover {
    background-image: url('../img/alex-hover.png');
}
.members__description-name{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}
.members__desripion-position {
    color: #4b73b5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.members__description-content {
    font-family: Roboto-Light;
    font-weight: 300;
}


.partners {
    margin-bottom: 24px;
}
.partners__list {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: flex-end;
    align-items: center;
    align-content: space-between;*/
    margin-top: 25px;
}
.partners__list-logo-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-right: 67px;
    margin-top: 20px;
    margin-bottom: 42px;
    list-style-type: none;
    margin-left: 66px;
    width: 161px;
    filter: grayscale(100%);
}
.partners__list-logo-link:hover {
    filter: grayscale(0)
}
.partners__list-logo-link:nth-child(1) {
    flex-flow: column;
}